.ro_widget ul li {
    width: auto;
    height: auto;
    background: none;
    list-style: unset;
    border-radius: unset;
    display: block;
    margin: 0;
    line-height: unset;
    text-align: unset;
}

.ro_widget ul li a {
    line-height: unset;
    font-size: unset;
    color: #37944a;
}

.bold-ro__product {
  border: 0!important;
  background: none!important;
}