.float-left {
  float: left;
}

.bold-ro__recurring-div select {
  background-color: #fff;
}

.bold-ro__sub-image img {
  border: 2px solid #dbdbdb;
  border-radius: 5px;
  max-height: 55px;
  max-width: 55px;
}

.bold-ro__sub-image {
  border: 2px solid #dbdbdb;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  line-height: 1.2;
}

.bold-ro__sub-regular-price {
  text-decoration: line-through;
}

.bold-ro__table-row.bold-ro__bottom-info-row {
  font-size: 0.8em;
  opacity: 0.6;
}

.bold-ro__table {
  display: table;
  width: 100%;
}

.bold-ro__table-row {
  display: table-row;
  width: auto;
  clear: both;
}

.bold-ro__table-col {
  float: right;
  display: table-column;
  width: 20%;
  text-align: right;
}

.bold-ro__table-col-left {
  float: left;
  display: table-column;
  width: 80%;
  padding-left: 25px;
}

.bold-ro__table-col-3 {
  float: left;
  display: table-column;
  width: 12%;
  height: 55px;
}

.bold-ro__table-col-6 {
  float: right;
  display: table-column;
  width: 88%;
  min-height: 55px;
}

.bold-ro__product {
  background-color: #f5f5f5;
  max-width: 90%;
  border-color: #ffffff;
  border-width: 2px;
  border-style: solid;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.bold-ro__one-time-div,
.bold-ro__recurring-div,
.bold-ro__frequency-label,
.bold-ro__mix-div {
  font-size: 16px;
}

.bold-ro__one-time-div,
.bold-ro__recurring-div,
.bold-ro__mix-div {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
}

.bold-ro__bold-active {
  background-color: #f5f5f5;
  border-color: #a8d81d;
  border-width: 2px;
  border-style: solid;
}

.bold-ro__frequency-label {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

input.bold-ro__frequency-num {
  width: 60px;
  display: inline-block;
}

.bold-ro__custom-order-interval-lbl {
  display: inline-block;
}

.ro_widget .bold-ro__checkbox {
  margin-right: 5px;
}

.ro_widget label {
  display: inline;
}

.ro_widget select {
  width: 100%;
}

.ro_widget input[type="radio"] {
  -webkit-appearance: radio;
  width: auto;
}

select.bold-ro__frequency-type.bold-ro__order-interval,
select.bold-ro__frequency-num {
  width: auto;
}

.bold-ro__prepaid-total-container {
  text-align: right;
}

input.bold-ro__prepaid-start-date {
  width: 100%;
}

.bold-ro__frequency-num,
.bold-ro__frequency-type {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: auto;
  display: inline-block;
}

.bold-ro__recurring-title {
  color: #414042;
  font-size: 16px;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.bold-ro__new-discounted-price {
  color: #eb3648;
  font-size: 16px;
  font-weight: bold;
}

.bold-ro__sub .tooltip-inner,
.bold-ro__tooltip .tooltip-inner {
  background-color: #000000;
  opacity: 0.9;
  color: #ffffff;
  font-size: 12px;
  border-radius: 2px;
  padding: 10px;
}

.bold-ro__sub .tooltip.bottom .tooltip-arrow,
.bold-ro__tooltip .tooltip-arrow {
  border-color: #000000;
}

.bold-ro__recurring-div
  .bold-ro__recurring-lbl
  span.bold-ro__recurring-text.bold-ro__subscription-only {
  margin-left: 0px;
  margin-top: 0px;
  display: block;
}

.bold-ro__recurring-lbl {
  width: 100%;
  margin-bottom: 0px;
}

input.bold-ro__error,
.bold-ro__error {
  border-color: #ff0000;
}

body.bold-ro__vanilla-modal .bold-ro__modal-hider {
  position: absolute;
  left: -99999em;
}

.bold-ro__shipping-rates-container {
  text-align: left;
  border: 1px solid rgba(128, 128, 128, 0.52);
  background-color: rgba(211, 211, 211, 0.15);
  padding: 10px 10px;
  font-size: 0.9em;
}

span.bold-ro__shipping-note {
  font-size: 0.7em;
}

p.bold-ro__rate-change {
  margin-bottom: -10px;
}

.icon--order-success g {
  stroke: #a8d81d;
}

.bold-ro__fadeIn.icon.icon--order-success.svg {
  width: auto;
  height: auto;
}

.bold-ro__loading-shipping-text {
  text-align: center;
}

.bold-ro__loading,
.bold-ro__widget-loading {
  margin-left: 45%;
}

.bold-ro__loading-container .bold-ro__widget-loading-icon {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #414042;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.bold-ro__fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.bold-ro__ate-buttons {
  margin-top: 10px;
}

.bold-ro__modal {
  display: none;
}

.bold-ro__modal-container input[type="radio"] {
  -webkit-appearance: radio;
  width: auto;
}

.bold-ro__vanilla-modal .bold-ro__modal {
  display: block;
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s, z-index 0s 0.2s;
  text-align: center;
  overflow: hidden;
  overflow-y: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.bold-ro__vanilla-modal .bold-ro__modal > * {
  display: inline-block;
  white-space: normal;
  vertical-align: middle;
  text-align: left;
}

.bold-ro__vanilla-modal .bold-ro__modal:before {
  display: inline-block;
  overflow: hidden;
  width: 0;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.bold-ro__vanilla-modal.bold-ro__modal-visible .bold-ro__modal {
  z-index: 99999;
  opacity: 1;
  transition: opacity 0.2s;
}

.bold-ro__vanilla-modal.bold-ro__modal-visible {
  overflow-y: hidden;
}

.bold-ro__modal-content {
  text-align: center;
}

.bold-ro__modal-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s, transform 0.2s, z-index 0s 0.2s;
  padding: 25px;
  overflow-y: hidden;
}

.bold-ro__modal-visible .bold-ro__modal-inner {
  z-index: 100;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.2s, transform 0.2s;
}

@media only screen and (max-width: 498px) {
  .bold-ro__modal-visible .bold-ro__modal-inner {
    overflow-y: visible;
  }
  .bold-modal__footer.bold-ro__actions {
    text-align: center;
  }
}

@media only screen and (max-height: 530px) {
  .bold-ro__modal-visible .bold-ro__modal-inner {
    overflow-y: visible;
  }
}

bold-ro__login-modal-text {
  margin-bottom: 20px;
}

.bold-ro__modal-close {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  width: 30px;
  height: 25px;
  line-height: 25px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  background: #fff;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
}

.bold-ro__detail-tooltip {
}

.bold-ro__tooltip {
  z-index: 9999;
}
.bold-ro__tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}
.bold-ro__tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top-color: transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.bold-ro__tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.minmaxify-p-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 199999998;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.2;
}
.minmaxify-p-bg.active {
  transition: opacity 0.15s ease-out;
  opacity: 0.8;
}
.minmaxify-p-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  z-index: 199999999;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
}
.minmaxify-p-wrap > div {
  display: table-cell;
  vertical-align: middle;
}
.minmaxify-p {
  opacity: 0.5;
  color: black;
  background-color: white;
  padding: 18px;
  max-width: 500px;
  margin: 18px auto;
  width: calc(100% - 36px);
  pointer-events: auto;
  border: solid white 1px;
}
.minmaxify-p.active {
  opacity: 1;
  transition: all 0.25s ease-in;
  border-width: 0px;
}
.minmaxify-ok {
  display: inline-block;
  padding: 8px 20px;
  margin: 0;
  line-height: 1.42;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid transparent;
  border-radius: 2px;
  font-family: "Montserrat", "HelveticaNeue", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color 0.2s ease-out;
  background-color: #a8d81d;
  color: #ffffff;
  min-width: unset;
}
.minmaxify-ok:after {
  content: "OK";
}
.minmaxify-close {
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
  overflow: visible;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0 0 0 10px;
  box-shadow: none;
  margin-top: -10px;
  opacity: 0.65;
}
.minmaxify-p button {
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  float: right;
  width: unset;
}
.minmaxify-close:hover,
.minmaxify-close:focus {
  opacity: 1;
}
.minmaxify-p ul {
  padding-left: 2rem;
  margin-bottom: 2rem;
}

@media screen and (min-width: 769px) {
  .single-option-selector,
  .quantity-selector {
    min-width: 100%;
  }
}

#ProductImage-6704531439703 {
  max-width: 595px;
  max-height: 595px;
}
#ProductImageWrapper-6704531439703 {
  max-width: 595px;
}

#ProductImage-13070917107799 {
  max-width: 700px;
  max-height: 466.6666666666667px;
}
#ProductImageWrapper-13070917107799 {
  max-width: 700px;
}
#ProductImage-13070912389207 {
  max-width: 700px;
  max-height: 466.60320913788416px;
}
#ProductImageWrapper-13070912389207 {
  max-width: 700px;
}
#ProductImage-13070923169879 {
  max-width: 700px;
  max-height: 466.60645161290324px;
}
#ProductImageWrapper-13070923169879 {
  max-width: 700px;
}
#ProductImage-12817470783575 {
  max-width: 700px;
  max-height: 606.4981949458484px;
}
#ProductImageWrapper-12817470783575 {
  max-width: 700px;
}
#ProductImage-13494125330519 {
  max-width: 700px;
  max-height: 466.6666666666667px;
}
#ProductImageWrapper-13494125330519 {
  max-width: 700px;
}
#ProductImage-13472127844439 {
  max-width: 700px;
  max-height: 466.6666666666667px;
}
#ProductImageWrapper-13472127844439 {
  max-width: 700px;
}
#ProductImage-14521834176599 {
  max-width: 700px;
  max-height: 466.552734375px;
}
#ProductImageWrapper-14521834176599 {
  max-width: 700px;
}
#ProductImage-14521834209367 {
  max-width: 700px;
  max-height: 466.552734375px;
}
#ProductImageWrapper-14521834209367 {
  max-width: 700px;
}
#ProductImage-13070899478615 {
  max-width: 700px;
  max-height: 466.6666666666667px;
}
#ProductImageWrapper-13070899478615 {
  max-width: 700px;
}
.bold-ro__widget-loading {
  margin-left: 45%;
}
.bold-ro__widget-loading-icon {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}

#ProductImage-14538673848407 {
  max-width: 453px;
  max-height: 456px;
}
#ProductImageWrapper-14538673848407 {
  max-width: 453px;
}

.bold-ro__widget-loading {
  margin-left: 45%;
}
.bold-ro__widget-loading-icon {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}
#ProductImage-14507486937175 {
  max-width: 365px;
  max-height: 465px;
}
#ProductImageWrapper-14507486937175 {
  max-width: 365px;
}
.bold-ro__widget-loading {
  margin-left: 45%;
}
.bold-ro__widget-loading-icon {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}
#ProductImage-14259620380759 {
  max-width: 300px;
  max-height: 125px;
}
#ProductImageWrapper-14259620380759 {
  max-width: 300px;
}
.bold-ro__widget-loading {
  margin-left: 45%;
}
.bold-ro__widget-loading-icon {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}
#ProductImage-14259599802455 {
  max-width: 437.9381443298969px;
  max-height: 480px;
}
#ProductImageWrapper-14259599802455 {
  max-width: 437.9381443298969px;
}
.bold-ro__widget-loading {
  margin-left: 45%;
}
.bold-ro__widget-loading-icon {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin-bottom: 20px;
}
.spr-icon {
  color: #a8d81d;
}
a.spr-icon:hover {
  color: #43560c;
}
.spr-container {
  padding: 24px;
  border-color: #358425;
}
.spr-review,
.spr-form {
  border-color: #797979;
}

.breadcrumb {
  background-color: white !important;
}
