a.btn.button[class*="bold-ro__add-to-order-"]{
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 7px;
    padding: 16px 
}

@media only screen and (max-width: 768px) {
  a.btn.button[class*="bold-ro__add-to-order-"]{
    white-space: normal;
    width: 75%;
  }
}
@media only screen and (max-width: 768px){
  .grid-uniform .btn.button{
    white-space: normal;
    width: 75%;
    font-size: 15.6px !important;
    font-weight: 400 !important;
    text-align: center;
    padding: 16px !important;
  }
}

button.btn.button[class*="bold-ro__custombutton-"]{
    font-family: 'Rokkitt', serif;
    font-weight: 400;
    font-size: 2.5em;
    margin-top: 7px;
}