.slider-item-1586385787117 .overlay-content-wrapper .page-width.feature-row {
  background: url(//cdn.shopify.com/s/files/1/2616/9618/files/may-keto-27.png?v=1619171845);
  background-size: 51% 100%;
  background-repeat: no-repeat;

  background-position: right top;
}

.overlay-content-wrapper .feature-row__item-1586385787117 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.overlay-content-wrapper
  .feature-row__item-1586385787117
  .mobile-feature-row-image {
  display: none;
  width: 100%;
}
.overlay-content-wrapper
  .feature-row__item-1586385787117
  .desktop-feature-row-image {
  width: 100%;
  max-height: 100%;
}
.overlay-content-wrapper .feature-row__item--text-1586385787117 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;

  padding-left: 0px;

  text-align: center;
}

.overlay-content-wrapper
  .feature-row__item--text-1586385787117
  .feature-row-text-inner {
  max-width: 655px;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .overlay-content-wrapper
    .feature-row__item--text-1586385787117
    .feature-row-text-inner {
    max-width: 360px;
  }
}
@media only screen and (max-width: 768px) {
  .slider-item-1586385787117 .overlay-content-wrapper .page-width.feature-row {
    background-image: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1586385787117
    .desktop-feature-row-image {
    display: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1586385787117
    .mobile-feature-row-image {
    display: block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  .overlay-content-wrapper
    .feature-row__item--text-1586385787117
    .feature-row-text-inner {
    max-width: 100%;
    text-align: center;
    padding: 0 15px;
  }
  .overlay-content-wrapper .feature-row__item-1586385787117 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    text-align: center;
  }
  .overlay-content-wrapper .feature-row__item--text-1586385787117 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    padding-left: 0px;

    text-align: center;
    padding: 15px;

    background: url(//cdn.shopify.com/s/files/1/2616/9618/files/may-keto-26.png?v=1619171855);
    background-size: 100% auto;
    background-position: left top;
  }
}

.slider-item-1601391185848 .overlay-content-wrapper .page-width.feature-row {
  background: url(//cdn.shopify.com/s/files/1/2616/9618/files/Monthly_Campains-87.png?v=1603981137);
  background-size: 51% 100%;
  background-repeat: no-repeat;

  background-position: left top;
}

.overlay-content-wrapper .feature-row__item-1601391185848 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.overlay-content-wrapper
  .feature-row__item-1601391185848
  .mobile-feature-row-image {
  display: none;
  width: 100%;
}
.overlay-content-wrapper
  .feature-row__item-1601391185848
  .desktop-feature-row-image {
  width: 100%;
  max-height: 100%;
}
.overlay-content-wrapper .feature-row__item--text-1601391185848 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;

  padding-right: 0px;

  text-align: center;
}

.overlay-content-wrapper
  .feature-row__item--text-1601391185848
  .feature-row-text-inner {
  max-width: 655px;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .overlay-content-wrapper
    .feature-row__item--text-1601391185848
    .feature-row-text-inner {
    max-width: 360px;

    float: right;
  }
}
@media only screen and (max-width: 768px) {
  .slider-item-1601391185848 .overlay-content-wrapper .page-width.feature-row {
    background-image: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1601391185848
    .desktop-feature-row-image {
    display: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1601391185848
    .mobile-feature-row-image {
    display: block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  .overlay-content-wrapper
    .feature-row__item--text-1601391185848
    .feature-row-text-inner {
    max-width: 100%;
    text-align: center;
    padding: 0 15px;
  }
  .overlay-content-wrapper .feature-row__item-1601391185848 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    text-align: center;
  }
  .overlay-content-wrapper .feature-row__item--text-1601391185848 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    padding-right: 0px;

    text-align: center;
    padding: 15px;

    background: url(//cdn.shopify.com/s/files/1/2616/9618/files/Monthly_Campains-90.png?v=1603981126);
    background-size: 100% auto;
    background-position: left top;
  }
}

.slider-item-1596558578243 .overlay-content-wrapper .page-width.feature-row {
  background: url(//cdn.shopify.com/s/files/1/2616/9618/files/Monthly_Campains-58.png?v=1596559845);
  background-size: 51% 100%;
  background-repeat: no-repeat;

  background-position: left top;
}

.overlay-content-wrapper .feature-row__item-1596558578243 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.overlay-content-wrapper
  .feature-row__item-1596558578243
  .mobile-feature-row-image {
  display: none;
  width: 100%;
}
.overlay-content-wrapper
  .feature-row__item-1596558578243
  .desktop-feature-row-image {
  width: 100%;
  max-height: 100%;
}
.overlay-content-wrapper .feature-row__item--text-1596558578243 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;

  padding-right: 0px;

  text-align: center;
}

.overlay-content-wrapper
  .feature-row__item--text-1596558578243
  .feature-row-text-inner {
  max-width: 655px;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .overlay-content-wrapper
    .feature-row__item--text-1596558578243
    .feature-row-text-inner {
    max-width: 360px;

    float: right;
  }
}
@media only screen and (max-width: 768px) {
  .slider-item-1596558578243 .overlay-content-wrapper .page-width.feature-row {
    background-image: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1596558578243
    .desktop-feature-row-image {
    display: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1596558578243
    .mobile-feature-row-image {
    display: block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  .overlay-content-wrapper
    .feature-row__item--text-1596558578243
    .feature-row-text-inner {
    max-width: 100%;
    text-align: center;
    padding: 0 15px;
  }
  .overlay-content-wrapper .feature-row__item-1596558578243 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    text-align: center;
  }
  .overlay-content-wrapper .feature-row__item--text-1596558578243 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    padding-right: 0px;

    text-align: center;
    padding: 15px;

    background: url(//cdn.shopify.com/s/files/1/2616/9618/files/Monthly_Campains-61.png?v=1596559855);
    background-size: 100% auto;
    background-position: left top;
  }
}

.slider-item-1599078316830 .overlay-content-wrapper .page-width.feature-row {
  background: url(//cdn.shopify.com/s/files/1/2616/9618/files/foracause-08.png?v=1610553331);
  background-size: 51% 100%;
  background-repeat: no-repeat;

  background-position: left top;
}

.overlay-content-wrapper .feature-row__item-1599078316830 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.overlay-content-wrapper
  .feature-row__item-1599078316830
  .mobile-feature-row-image {
  display: none;
  width: 100%;
}
.overlay-content-wrapper
  .feature-row__item-1599078316830
  .desktop-feature-row-image {
  width: 100%;
  max-height: 100%;
}
.overlay-content-wrapper .feature-row__item--text-1599078316830 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;

  padding-right: 115px;

  text-align: center;
}

.overlay-content-wrapper
  .feature-row__item--text-1599078316830
  .feature-row-text-inner {
  max-width: 655px;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .overlay-content-wrapper
    .feature-row__item--text-1599078316830
    .feature-row-text-inner {
    max-width: 360px;

    float: right;
  }
}
@media only screen and (max-width: 768px) {
  .slider-item-1599078316830 .overlay-content-wrapper .page-width.feature-row {
    background-image: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1599078316830
    .desktop-feature-row-image {
    display: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1599078316830
    .mobile-feature-row-image {
    display: block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  .overlay-content-wrapper
    .feature-row__item--text-1599078316830
    .feature-row-text-inner {
    max-width: 100%;
    text-align: center;
    padding: 0 15px;
  }
  .overlay-content-wrapper .feature-row__item-1599078316830 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    text-align: center;
  }
  .overlay-content-wrapper .feature-row__item--text-1599078316830 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    padding-right: 0px;

    text-align: center;
    padding: 15px;

    background: url(//cdn.shopify.com/s/files/1/2616/9618/files/foracause-13.png?v=1610553343);
    background-size: 100% auto;
    background-position: left top;
  }
}

.slider-item-1601391689817 .overlay-content-wrapper .page-width.feature-row {
  background: url(//cdn.shopify.com/s/files/1/2616/9618/files/Monthly_Campains-79.png?v=1601391741);
  background-size: 51% 100%;
  background-repeat: no-repeat;

  background-position: left top;
}

.overlay-content-wrapper .feature-row__item-1601391689817 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.overlay-content-wrapper
  .feature-row__item-1601391689817
  .mobile-feature-row-image {
  display: none;
  width: 100%;
}
.overlay-content-wrapper
  .feature-row__item-1601391689817
  .desktop-feature-row-image {
  width: 100%;
  max-height: 100%;
}
.overlay-content-wrapper .feature-row__item--text-1601391689817 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;

  padding-right: 0px;

  text-align: center;
}

.overlay-content-wrapper
  .feature-row__item--text-1601391689817
  .feature-row-text-inner {
  max-width: 655px;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .overlay-content-wrapper
    .feature-row__item--text-1601391689817
    .feature-row-text-inner {
    max-width: 360px;

    float: right;
  }
}
@media only screen and (max-width: 768px) {
  .slider-item-1601391689817 .overlay-content-wrapper .page-width.feature-row {
    background-image: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1601391689817
    .desktop-feature-row-image {
    display: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1601391689817
    .mobile-feature-row-image {
    display: block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  .overlay-content-wrapper
    .feature-row__item--text-1601391689817
    .feature-row-text-inner {
    max-width: 100%;
    text-align: center;
    padding: 0 15px;
  }
  .overlay-content-wrapper .feature-row__item-1601391689817 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    text-align: center;
  }
  .overlay-content-wrapper .feature-row__item--text-1601391689817 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    padding-right: 0px;

    text-align: center;
    padding: 15px;

    background: url(//cdn.shopify.com/s/files/1/2616/9618/files/Monthly_Campains-82.png?v=1601391749);
    background-size: 100% auto;
    background-position: left top;
  }
}

.slider-item-c0c17eb6-5b32-4df6-af29-b7eec9a0cbda
  .overlay-content-wrapper
  .page-width.feature-row {
  background: url(//cdn.shopify.com/s/files/1/2616/9618/files/dec_coffee_tea-62.png?v=1607626581);
  background-size: 51% 100%;
  background-repeat: no-repeat;

  background-position: right top;
}

.overlay-content-wrapper
  .feature-row__item-c0c17eb6-5b32-4df6-af29-b7eec9a0cbda {
  -webkit-flex: 0 1 55%;
  -moz-flex: 0 1 55%;
  -ms-flex: 0 1 55%;
  flex: 0 1 55%;
}
.overlay-content-wrapper
  .feature-row__item-c0c17eb6-5b32-4df6-af29-b7eec9a0cbda
  .mobile-feature-row-image {
  display: none;
  width: 100%;
}
.overlay-content-wrapper
  .feature-row__item-c0c17eb6-5b32-4df6-af29-b7eec9a0cbda
  .desktop-feature-row-image {
  width: 100%;
  max-height: 100%;
}
.overlay-content-wrapper
  .feature-row__item--text-c0c17eb6-5b32-4df6-af29-b7eec9a0cbda {
  -webkit-flex: 0 1 45%;
  -moz-flex: 0 1 45%;
  -ms-flex: 0 1 45%;
  flex: 0 1 45%;

  padding-left: 0px;

  text-align: center;
}

.overlay-content-wrapper
  .feature-row__item--text-c0c17eb6-5b32-4df6-af29-b7eec9a0cbda
  .feature-row-text-inner {
  max-width: 655px;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .overlay-content-wrapper
    .feature-row__item--text-c0c17eb6-5b32-4df6-af29-b7eec9a0cbda
    .feature-row-text-inner {
    max-width: 360px;
  }
}
@media only screen and (max-width: 768px) {
  .slider-item-c0c17eb6-5b32-4df6-af29-b7eec9a0cbda
    .overlay-content-wrapper
    .page-width.feature-row {
    background-image: none;
  }
  .overlay-content-wrapper
    .feature-row__item-c0c17eb6-5b32-4df6-af29-b7eec9a0cbda
    .desktop-feature-row-image {
    display: none;
  }
  .overlay-content-wrapper
    .feature-row__item-c0c17eb6-5b32-4df6-af29-b7eec9a0cbda
    .mobile-feature-row-image {
    display: block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  .overlay-content-wrapper
    .feature-row__item--text-c0c17eb6-5b32-4df6-af29-b7eec9a0cbda
    .feature-row-text-inner {
    max-width: 100%;
    text-align: center;
    padding: 0 15px;
  }
  .overlay-content-wrapper
    .feature-row__item-c0c17eb6-5b32-4df6-af29-b7eec9a0cbda {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    text-align: center;
  }
  .overlay-content-wrapper
    .feature-row__item--text-c0c17eb6-5b32-4df6-af29-b7eec9a0cbda {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    padding-left: 0px;

    text-align: center;
    padding: 15px;

    background: url(//cdn.shopify.com/s/files/1/2616/9618/files/dec_coffee_tea-65.png?v=1607626592);
    background-size: 100% auto;
    background-position: left top;
  }
}

.slider-item-fd04ede9-d488-4f2c-ad39-863934641359
  .overlay-content-wrapper
  .page-width.feature-row {
  background: url(//cdn.shopify.com/s/files/1/2616/9618/files/Monthly_Campains-84.png?v=1605881993);
  background-size: 51% 100%;
  background-repeat: no-repeat;

  background-position: right top;
}

.overlay-content-wrapper
  .feature-row__item-fd04ede9-d488-4f2c-ad39-863934641359 {
  -webkit-flex: 0 1 55%;
  -moz-flex: 0 1 55%;
  -ms-flex: 0 1 55%;
  flex: 0 1 55%;
}
.overlay-content-wrapper
  .feature-row__item-fd04ede9-d488-4f2c-ad39-863934641359
  .mobile-feature-row-image {
  display: none;
  width: 100%;
}
.overlay-content-wrapper
  .feature-row__item-fd04ede9-d488-4f2c-ad39-863934641359
  .desktop-feature-row-image {
  width: 100%;
  max-height: 100%;
}
.overlay-content-wrapper
  .feature-row__item--text-fd04ede9-d488-4f2c-ad39-863934641359 {
  -webkit-flex: 0 1 45%;
  -moz-flex: 0 1 45%;
  -ms-flex: 0 1 45%;
  flex: 0 1 45%;

  padding-left: 0px;

  text-align: center;
}

.overlay-content-wrapper
  .feature-row__item--text-fd04ede9-d488-4f2c-ad39-863934641359
  .feature-row-text-inner {
  max-width: 655px;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .overlay-content-wrapper
    .feature-row__item--text-fd04ede9-d488-4f2c-ad39-863934641359
    .feature-row-text-inner {
    max-width: 360px;
  }
}
@media only screen and (max-width: 768px) {
  .slider-item-fd04ede9-d488-4f2c-ad39-863934641359
    .overlay-content-wrapper
    .page-width.feature-row {
    background-image: none;
  }
  .overlay-content-wrapper
    .feature-row__item-fd04ede9-d488-4f2c-ad39-863934641359
    .desktop-feature-row-image {
    display: none;
  }
  .overlay-content-wrapper
    .feature-row__item-fd04ede9-d488-4f2c-ad39-863934641359
    .mobile-feature-row-image {
    display: block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  .overlay-content-wrapper
    .feature-row__item--text-fd04ede9-d488-4f2c-ad39-863934641359
    .feature-row-text-inner {
    max-width: 100%;
    text-align: center;
    padding: 0 15px;
  }
  .overlay-content-wrapper
    .feature-row__item-fd04ede9-d488-4f2c-ad39-863934641359 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    text-align: center;
  }
  .overlay-content-wrapper
    .feature-row__item--text-fd04ede9-d488-4f2c-ad39-863934641359 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    padding-left: 0px;

    text-align: center;
    padding: 15px;

    background: url(//cdn.shopify.com/s/files/1/2616/9618/files/Monthly_Campains-74.png?v=1605882002);
    background-size: 100% auto;
    background-position: left top;
  }
}

.slider-item-1576090947829-0 .overlay-content-wrapper .page-width.feature-row {
  background: url(//cdn.shopify.com/s/files/1/2616/9618/files/basic-58.jpg?v=1605301595);
  background-size: 51% 100%;
  background-repeat: no-repeat;

  background-position: left top;
}

.overlay-content-wrapper .feature-row__item-1576090947829-0 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.overlay-content-wrapper
  .feature-row__item-1576090947829-0
  .mobile-feature-row-image {
  display: none;
  width: 100%;
}
.overlay-content-wrapper
  .feature-row__item-1576090947829-0
  .desktop-feature-row-image {
  width: 100%;
  max-height: 100%;
}
.overlay-content-wrapper .feature-row__item--text-1576090947829-0 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;

  padding-right: 0px;

  text-align: center;
}

.overlay-content-wrapper
  .feature-row__item--text-1576090947829-0
  .feature-row-text-inner {
  max-width: 655px;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .overlay-content-wrapper
    .feature-row__item--text-1576090947829-0
    .feature-row-text-inner {
    max-width: 360px;

    float: right;
  }
}
@media only screen and (max-width: 768px) {
  .slider-item-1576090947829-0
    .overlay-content-wrapper
    .page-width.feature-row {
    background-image: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1576090947829-0
    .desktop-feature-row-image {
    display: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1576090947829-0
    .mobile-feature-row-image {
    display: block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  .overlay-content-wrapper
    .feature-row__item--text-1576090947829-0
    .feature-row-text-inner {
    max-width: 100%;
    text-align: center;
    padding: 0 15px;
  }
  .overlay-content-wrapper .feature-row__item-1576090947829-0 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    text-align: center;
  }
  .overlay-content-wrapper .feature-row__item--text-1576090947829-0 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    padding-right: 0px;

    text-align: center;
    padding: 15px;

    background: url(//cdn.shopify.com/s/files/1/2616/9618/files/basic-61.jpg?v=1605301605);
    background-size: 100% auto;
    background-position: left top;
  }
}

.slider-item-1576167176011 .overlay-content-wrapper .page-width.feature-row {
  background: url(//cdn.shopify.com/s/files/1/2616/9618/files/Express_Sliders-08_36c728a8-bd3f-468a-957f-a8027885b8f7.png?v=1576169693);
  background-size: 51% 100%;
  background-repeat: no-repeat;

  background-position: left top;
}

.overlay-content-wrapper .feature-row__item-1576167176011 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.overlay-content-wrapper
  .feature-row__item-1576167176011
  .mobile-feature-row-image {
  display: none;
  width: 100%;
}
.overlay-content-wrapper
  .feature-row__item-1576167176011
  .desktop-feature-row-image {
  width: 100%;
  max-height: 100%;
}
.overlay-content-wrapper .feature-row__item--text-1576167176011 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;

  padding-right: 0px;

  text-align: right;
}

.overlay-content-wrapper
  .feature-row__item--text-1576167176011
  .feature-row-text-inner {
  max-width: 655px;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .overlay-content-wrapper
    .feature-row__item--text-1576167176011
    .feature-row-text-inner {
    max-width: 360px;

    float: right;
  }
}
@media only screen and (max-width: 768px) {
  .slider-item-1576167176011 .overlay-content-wrapper .page-width.feature-row {
    background-image: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1576167176011
    .desktop-feature-row-image {
    display: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1576167176011
    .mobile-feature-row-image {
    display: block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  .overlay-content-wrapper
    .feature-row__item--text-1576167176011
    .feature-row-text-inner {
    max-width: 100%;
    text-align: center;
    padding: 0 15px;
  }
  .overlay-content-wrapper .feature-row__item-1576167176011 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    text-align: center;
  }
  .overlay-content-wrapper .feature-row__item--text-1576167176011 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    padding-right: 0px;

    text-align: center;
    padding: 15px;

    background: url(//cdn.shopify.com/s/files/1/2616/9618/files/Express_Sliders-13.png?v=1576168747);
    background-size: 100% auto;
    background-position: left top;
  }
}

.slider-item-1576166213510 .overlay-content-wrapper .page-width.feature-row {
  background: url(//cdn.shopify.com/s/files/1/2616/9618/files/Express_Sliders-06_d0f1b201-9926-466c-8fd1-905f131ad0be.png?v=1576169385);
  background-size: 51% 100%;
  background-repeat: no-repeat;

  background-position: left top;
}

.overlay-content-wrapper .feature-row__item-1576166213510 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.overlay-content-wrapper
  .feature-row__item-1576166213510
  .mobile-feature-row-image {
  display: none;
  width: 100%;
}
.overlay-content-wrapper
  .feature-row__item-1576166213510
  .desktop-feature-row-image {
  width: 100%;
  max-height: 100%;
}
.overlay-content-wrapper .feature-row__item--text-1576166213510 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;

  padding-right: 0px;

  text-align: center;
}

.overlay-content-wrapper
  .feature-row__item--text-1576166213510
  .feature-row-text-inner {
  max-width: 655px;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .overlay-content-wrapper
    .feature-row__item--text-1576166213510
    .feature-row-text-inner {
    max-width: 360px;

    float: right;
  }
}
@media only screen and (max-width: 768px) {
  .slider-item-1576166213510 .overlay-content-wrapper .page-width.feature-row {
    background-image: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1576166213510
    .desktop-feature-row-image {
    display: none;
  }
  .overlay-content-wrapper
    .feature-row__item-1576166213510
    .mobile-feature-row-image {
    display: block;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
  }
  .overlay-content-wrapper
    .feature-row__item--text-1576166213510
    .feature-row-text-inner {
    max-width: 100%;
    text-align: center;
    padding: 0 15px;
  }
  .overlay-content-wrapper .feature-row__item-1576166213510 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    text-align: center;
  }
  .overlay-content-wrapper .feature-row__item--text-1576166213510 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    padding-right: 0px;

    text-align: center;
    padding: 15px;

    background: url(//cdn.shopify.com/s/files/1/2616/9618/files/Express_Sliders-11_197864ff-3444-4d68-af11-51c5dcad4fef.png?v=1576168014);
    background-size: 100% auto;
    background-position: left top;
  }
}

.image-with-text-bg-1549183561497 {
  background: url(//cdn.shopify.com/s/files/1/2616/9618/files/new-banner-12.png?v=1573593312)
    no-repeat left top #37944a;
  background-size: 100% 100%;

  padding-top: 80px;
  padding-bottom: 80px;
}
.feature-row__item.feature-row-item-image-1549183561497 {
  -webkit-flex: 0 1 30%;
  -moz-flex: 0 1 30%;
  -ms-flex: 0 1 30%;
  flex: 0 1 30%;
}
.feature-row__item.feature-row-item-text-1549183561497 {
  -webkit-flex: 0 1 calc(100% - 30%);
  -moz-flex: 0 1 calc(100% - 30%);
  -ms-flex: 0 1 calc(100% - 30%);
  flex: 0 1 calc(100% - 30%);
  color: #ffffff;
}

@media only screen and (max-width: 1200px) {
  .image-with-text-bg-1549183561497 {
    background-size: cover;
  }
}
@media only screen and (max-width: 480px) {
  .image-with-text-bg-1549183561497 {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .feature-row__item.feature-row-item-image-1549183561497 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
  .feature-row__item.feature-row-item-text-1549183561497 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    text-align: center;
  }
}

#FeatureRowImage--1549183561497 {
  max-width: 385px;
  max-height: 329px;
}
#FeatureRowImageWrapper--1549183561497 {
  max-width: 385px;
}

#ProductImage-14844243214423 {
  max-width: 335px;
  max-height: 334.83642578125px;
}
#ProductImageWrapper-14844243214423 {
  max-width: 335px;
}

#ProductImage-11142864535639 {
  max-width: 335px;
  max-height: 334.8651911468813px;
}
#ProductImageWrapper-11142864535639 {
  max-width: 335px;
}

#ProductImage-11142864863319 {
  max-width: 335px;
  max-height: 335px;
}
#ProductImageWrapper-11142864863319 {
  max-width: 335px;
}

#ProductImage-11142864437335 {
  max-width: 335px;
  max-height: 335px;
}
#ProductImageWrapper-11142864437335 {
  max-width: 335px;
}

.image-text-wrapper {
  min-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
.image-text-bg .feature-row__item-1571072873133 .desktop-feature-row-image {
  display: block;
}
.image-text-bg .feature-row__item-1571072873133 .mobile-feature-row-image {
  display: none;
}
.image-text-bg .feature-row__item-1571072873133 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
}
.image-text-bg .feature-row__item--text-1571072873133 {
  -webkit-flex: 0 1 50%;
  -moz-flex: 0 1 50%;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;

  padding-right: 30px;

  text-align: left;
}
.image-text-bg .feature-row__item--text-1571072873133 .feature-row-text-inner {
  max-width: 655px;

  float: right;
  padding-left: 30px;
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .image-text-bg
    .feature-row__item--text-1571072873133
    .feature-row-text-inner {
    max-width: 360px;
  }
}

@media only screen and (max-width: 768px) {
  .image-text-bg .feature-row__item-1571072873133 .image-wrapper,
  .image-text-bg
    .feature-row__item--text-1571072873133
    .feature-row-text-inner {
    margin-bottom: 30px;
  }
  .image-text-bg .feature-row__item-1571072873133 .desktop-feature-row-image {
    display: none;
  }
  .image-text-bg .feature-row__item-1571072873133 .mobile-feature-row-image {
    display: block;
  }
  .image-text-bg
    .feature-row__item--text-1571072873133
    .feature-row-text-inner {
    max-width: 100%;
    text-align: center;
    padding: 0 15px;
  }
  .image-text-bg .feature-row__item-1571072873133 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
  }
  .image-text-bg .feature-row__item--text-1571072873133 {
    -webkit-flex: 0 1 100%;
    -moz-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;

    padding-right: 0px;
  }
}

.newsletter-footer-wrapper {
  background-color: #484848;
}

.Paack1 {
  margin-left: "110% !important";
}
